.container {
  padding: 80px;
}

.hero {
  margin-top: 40px;
}

.title {
  text-align: center;
  font-size: 40px;
}

.item-wrap {
  border: 1px solid black;
  margin-top: 10px;
  padding: 20px;
  width: 700px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.perforation-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img {
}
